@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@import "tailwindcss";

body {
  font-family: "Tajawal", sans-serif;
  background-color: #1b1c1d;
}


/* ===== Gradient Text ===== */
.moving-gradient {
  background: linear-gradient(90deg, #7220e4, #f55cfe, #7220e4);
  background-size: 200%;
  animation: moveGradient 5s linear infinite;
  -webkit-background-clip: text;
  color: transparent;
}
.Main-Loading {
  background-color: #101019;
  z-index: 999;
  width: 100%;
  position: fixed;
}
@keyframes moveGradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

/* ===== Animations ===== */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

.animate-fade {
  animation: fade 3s ease-in-out forwards;
}

.animate-fadeSlide {
  animation: fadeSlide 1.5s ease-in-out forwards;
}

.switch {
  position: relative;
  width: 75px;
  height: 28px;
  appearance: none;
  background-color: rgb(4, 52, 73);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s ease;
}

.switch:checked {
  background-color: rgb(0, 195, 255);
}

.switch:after {
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 3px;
  top: 3px;
  transform: translateX(0px);
  transition: 0.45s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: inset 3px -3px 3px rgba(53, 53, 53, 0.3);
}

.switch:checked:after {
  transform: translateX(47px);
  box-shadow: inset -3px -3px 3px rgba(53, 53, 53, 0.3);
}
/* Header */
@media (max-width: 1001px) {
  .Headerr_text {
    font-size: 14px;
    gap: 10px;
  }
}

@media (max-width: 1001px) {
  .Headerr_text_1 {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 30px;
  }
}

/* --------------------------------------------------- */
/* home */
.edit_codex {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* ================== 1001px ================== */
@media (max-width: 1001px) {
  .Headerr_text {
    font-size: 14px;
    gap: 10px;
  }

  .Headerr_text_1 {
    padding: 2px 14px;
    height: 30px;
  }

  .home_text {
    font-size: 32px;
    line-height: 1.3;
  }

  .home_icon {
    width: 155px;
  }

  .body_icon {
    top: 97px;
  }

  .edit_b_1 {
    position: fixed;
    top: 1%;
    right: 5%;
  }
  .codex_edit_1 {
    display: none;
  }

  .edit_b {
    position: fixed;
    top: 1%;
    right: 25%;
  }

  .edit_codex {
    flex-direction: column-reverse;
  }

  .edit_codex > div {
    width: 100% !important;
    height: 50%;
  }

  .home_text_body {
    font-size: 20px;
    line-height: 1.6;
    opacity: 0.75;
    max-width: 260px;
    text-align: center;
  }

  .home_text_body_1 {
    font-size: 16px;
    width: 90%;
  }
}

/* ================== 900px ================== */
@media (max-width: 900px) {
  .start {
    display: none;
  }

  .pdf_text {
    font-size: 30px;
  }

  .start_1 {
    width: 100%;
  }

  .upload_text {
    font-size: 32px;
  }

  .upload_text_1 {
    font-size: 8px;
  }
}

/* ================== 768px ================== */
@media (max-width: 768px) {
  .home_text {
    font-size: 24px;
  }

  .home_icon {
    width: 150px;
  }

  .body_icon {
    top: 97px;
  }

  .home_text_body {
    font-size: 16px;
  }

  .home_text_body_1 {
    font-size: 13px;
  }

  .search_size {
    font-size: 18px;
  }

  .search_bottom_text {
    font-size: 16px;
    padding: 0 10px 0 6px;
  }

  .bottom2 {
    width: 18px;
    height: 18px;
  }

  .edit_b_1 {
    right: 10%;
  }

  .edit_b {
    right: 30%;
  }

  .upload_text_4 {
    font-size: 6px;
  }
}

/* ================== 610px ================== */
@media (max-width: 610px) {
  .home_text {
    font-size: 18px;
  }

  .home_icon {
    width: 122px;
  }

  .body_icon {
    top: 78px;
  }

  .upload_text {
    font-size: 22px;
  }

  .upload_text_1 {
    font-size: 6px;
  }

  .upload_text_2 {
    font-size: 5px;
  }

  .upload_text_img_3 {
    font-size: 10px;
  }

  .upload_img {
    width: 31%;
  }

  .home_text_body {
    font-size: 15px;
  }

  .home_text_body_1 {
    font-size: 10px;
  }

  .search_size {
    font-size: 15px;
  }

  .search_bottom_text {
    font-size: 14px;
  }

  .bottom2 {
    width: 18px;
    height: 18px;
  }

  .search_bottom2 {
    width: 96%;
    height: 41%;
  }

  .edit_b_1 {
    right: 10%;
  }

  .edit_b {
    right: 43%;
  }
}

/* ================== 500px ================== */
@media (max-width: 500px) {
  .start_bottum {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .edit_b_1 {
    right: 15%;
  }

  .edit_b {
    right: 50%;
  }

  .codex_e,
  .upload_text_3,
  .upload_img,
  .file_upload {
    display: none;
  }

  .upload_1 {
    height: 150px;
  }

  .start_bottum_1 {
    width: 65%;
    margin-left: 20%;
  }

  .start_text {
    font-size: 25px;
  }
}

/* ================== 390px ================== */
@media (max-width: 390px) {
  .home_text {
    font-size: 12px;
  }

  .home_icon {
    width: 80px;
  }

  .body_icon {
    top: 51px;
  }

  .home_text_body {
    font-size: 12px;
  }

  .home_text_body_1 {
    font-size: 8px;
  }

  .search_size {
    font-size: 12px;
  }

  .search_bottom_text {
    font-size: 10px;
  }

  .search_bottom1 {
    height: 23px;
  }

  .bottom2 {
    width: 13px;
    height: 13px;
  }

  .upload_text {
    font-size: 18px;
  }

  .upload_text_1,
  .upload_text_2 {
    font-size: 5px;
    text-align: center;
  }

  .pdf_text_1 {
    font-size: 10px;
  }

  .pdf_text_2 {
    font-size: 5px;
  }
}
