@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@import "tailwindcss";

body {
  font-family: "Tajawal", sans-serif;
  background-color: #1b1c1d;
}
.pl {
  box-shadow: 2em 0 2em rgba(0, 0, 0, 0.2) inset,
    -2em 0 2em rgba(255, 255, 255, 0.1) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: rotateX(30deg) rotateZ(45deg);
  width: 14em;
  height: 14em;
  color: white;
}

.pl,
.pl__dot {
  border-radius: 50%;
}

.pl__dot {
  animation-name: shadow724;
  box-shadow: 0.1em 0.1em 0 0.1em black, 0.3em 0 0.3em rgba(0, 0, 0, 0.5);
  top: calc(50% - 0.75em);
  left: calc(50% - 0.75em);
  width: 1.5em;
  height: 1.5em;
}

.pl__dot,
.pl__dot:before,
.pl__dot:after {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: absolute;
}

.pl__dot:before,
.pl__dot:after {
  content: "";
  display: block;
  left: 0;
  width: inherit;
  transition: background-color var(--trans-dur);
}

.pl__dot:before {
  animation-name: pushInOut1724;
  background-color: var(--bg);
  border-radius: inherit;
  box-shadow: 0.05em 0 0.1em rgba(255, 255, 255, 0.2) inset;
  height: inherit;
  z-index: 1;
}

.pl__dot:after {
  animation-name: pushInOut2724;
  background-color: var(--primary1);
  border-radius: 0.75em;
  box-shadow: 0.1em 0.3em 0.2em rgba(255, 255, 255, 0.4) inset,
    0 -0.4em 0.2em #2e3138 inset, 0 -1em 0.25em rgba(0, 0, 0, 0.3) inset;
  bottom: 0;
  clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0 100%);
  height: 3em;
  transform: rotate(-45deg);
  transform-origin: 50% 2.25em;
}

.pl__dot:nth-child(1) {
  transform: rotate(0deg) translateX(5em) rotate(0deg);
  z-index: 5;
}

.pl__dot:nth-child(1),
.pl__dot:nth-child(1):before,
.pl__dot:nth-child(1):after {
  animation-delay: 0s;
}

.pl__dot:nth-child(2) {
  transform: rotate(-30deg) translateX(5em) rotate(30deg);
  z-index: 4;
}

.pl__dot:nth-child(2),
.pl__dot:nth-child(2):before,
.pl__dot:nth-child(2):after {
  animation-delay: -0.1666666667s;
}

.pl__dot:nth-child(3) {
  transform: rotate(-60deg) translateX(5em) rotate(60deg);
  z-index: 3;
}

.pl__dot:nth-child(3),
.pl__dot:nth-child(3):before,
.pl__dot:nth-child(3):after {
  animation-delay: -0.3333333333s;
}

.pl__dot:nth-child(4) {
  transform: rotate(-90deg) translateX(5em) rotate(90deg);
  z-index: 2;
}

.pl__dot:nth-child(4),
.pl__dot:nth-child(4):before,
.pl__dot:nth-child(4):after {
  animation-delay: -0.5s;
}

.pl__dot:nth-child(5) {
  transform: rotate(-120deg) translateX(5em) rotate(120deg);
  z-index: 1;
}

.pl__dot:nth-child(5),
.pl__dot:nth-child(5):before,
.pl__dot:nth-child(5):after {
  animation-delay: -0.6666666667s;
}

.pl__dot:nth-child(6) {
  transform: rotate(-150deg) translateX(5em) rotate(150deg);
  z-index: 1;
}

.pl__dot:nth-child(6),
.pl__dot:nth-child(6):before,
.pl__dot:nth-child(6):after {
  animation-delay: -0.8333333333s;
}

.pl__dot:nth-child(7) {
  transform: rotate(-180deg) translateX(5em) rotate(180deg);
  z-index: 2;
}

.pl__dot:nth-child(7),
.pl__dot:nth-child(7):before,
.pl__dot:nth-child(7):after {
  animation-delay: -1s;
}

.pl__dot:nth-child(8) {
  transform: rotate(-210deg) translateX(5em) rotate(210deg);
  z-index: 3;
}

.pl__dot:nth-child(8),
.pl__dot:nth-child(8):before,
.pl__dot:nth-child(8):after {
  animation-delay: -1.1666666667s;
}

.pl__dot:nth-child(9) {
  transform: rotate(-240deg) translateX(5em) rotate(240deg);
  z-index: 4;
}

.pl__dot:nth-child(9),
.pl__dot:nth-child(9):before,
.pl__dot:nth-child(9):after {
  animation-delay: -1.3333333333s;
}

.pl__dot:nth-child(10) {
  transform: rotate(-270deg) translateX(5em) rotate(270deg);
  z-index: 5;
}

.pl__dot:nth-child(10),
.pl__dot:nth-child(10):before,
.pl__dot:nth-child(10):after {
  animation-delay: -1.5s;
}

.pl__dot:nth-child(11) {
  transform: rotate(-300deg) translateX(5em) rotate(300deg);
  z-index: 6;
}

.pl__dot:nth-child(11),
.pl__dot:nth-child(11):before,
.pl__dot:nth-child(11):after {
  animation-delay: -1.6666666667s;
}

.pl__dot:nth-child(12) {
  transform: rotate(-330deg) translateX(5em) rotate(330deg);
  z-index: 6;
}

.pl__dot:nth-child(12),
.pl__dot:nth-child(12):before,
.pl__dot:nth-child(12):after {
  animation-delay: -1.8333333333s;
}

.pl__text {
  font-size: 0.75em;
  max-width: 5rem;
  position: relative;
  text-shadow: 0 0 0.1em var(--fg-t);
  transform: rotateZ(-45deg);
}

/* Animations */
@keyframes shadow724 {
  from {
    animation-timing-function: ease-in;
    box-shadow: 0.1em 0.1em 0 0.1em black, 0.3em 0 0.3em rgba(0, 0, 0, 0.3);
  }

  25% {
    animation-timing-function: ease-out;
    box-shadow: 0.1em 0.1em 0 0.1em black, 0.8em 0 0.8em rgba(0, 0, 0, 0.5);
  }

  50%,
  to {
    box-shadow: 0.1em 0.1em 0 0.1em black, 0.3em 0 0.3em rgba(0, 0, 0, 0.3);
  }
}

@keyframes pushInOut1724 {
  from {
    animation-timing-function: ease-in;
    background-color: var(--bg);
    transform: translate(0, 0);
  }

  25% {
    animation-timing-function: ease-out;
    background-color: var(--primary2);
    transform: translate(-71%, -71%);
  }

  50%,
  to {
    background-color: var(--bg);
    transform: translate(0, 0);
  }
}

@keyframes pushInOut2724 {
  from {
    animation-timing-function: ease-in;
    background-color: var(--bg);
    clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0 100%);
  }

  25% {
    animation-timing-function: ease-out;
    background-color: var(--primary1);
    clip-path: polygon(0 25%, 100% 25%, 100% 100%, 0 100%);
  }

  50%,
  to {
    background-color: var(--bg);
    clip-path: polygon(0 75%, 100% 75%, 100% 100%, 0 100%);
  }
}

/* ===== Gradient Text ===== */
.moving-gradient {
  background: linear-gradient(90deg, #7220e4, #f55cfe, #7220e4);
  background-size: 200%;
  animation: moveGradient 5s linear infinite;
  -webkit-background-clip: text;
  color: transparent;
}
.Main-Loading {
  background-color: #101019;
  z-index: 999;
  width: 100%;
  position: fixed;
}
@keyframes moveGradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

/* ===== Animations ===== */
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

.animate-fade {
  animation: fade 3s ease-in-out forwards;
}

.animate-fadeSlide {
  animation: fadeSlide 1.5s ease-in-out forwards;
}

.switch {
  position: relative;
  width: 75px;
  height: 28px;
  appearance: none;
  background-color: rgb(4, 52, 73);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s ease;
}

.switch:checked {
  background-color: rgb(0, 195, 255);
}

.switch:after {
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 3px;
  top: 3px;
  transform: translateX(0px);
  transition: 0.45s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: inset 3px -3px 3px rgba(53, 53, 53, 0.3);
}

.switch:checked:after {
  transform: translateX(47px);
  box-shadow: inset -3px -3px 3px rgba(53, 53, 53, 0.3);
}
/* Header */
@media (max-width: 1001px) {
  .Headerr_text {
    font-size: 14px;
    gap: 10px;
  }
}

@media (max-width: 1001px) {
  .Headerr_text_1 {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 30px;
  }
}

/* --------------------------------------------------- */
/* home */
.edit_codex {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* ================== 1001px ================== */
@media (max-width: 1001px) {
  .Headerr_text {
    font-size: 14px;
    gap: 10px;
  }

  .Headerr_text_1 {
    padding: 2px 14px;
    height: 30px;
  }

  .home_text {
    font-size: 32px;
    line-height: 1.3;
  }

  .home_icon {
    width: 155px;
  }

  .body_icon {
    top: 97px;
  }

  .edit_b_1 {
    position: fixed;
    top: 1%;
    right: 5%;
  }
  .codex_edit_1 {
    display: none;
  }

  .edit_b {
    position: fixed;
    top: 1%;
    right: 25%;
  }

  .edit_codex {
    flex-direction: column-reverse;
  }

  .edit_codex > div {
    width: 100% !important;
    height: 50%;
  }

  .home_text_body {
    font-size: 20px;
    line-height: 1.6;
    opacity: 0.75;
    max-width: 260px;
    text-align: center;
  }

  .home_text_body_1 {
    font-size: 16px;
    width: 90%;
  }
}

/* ================== 900px ================== */
@media (max-width: 900px) {
  .start {
    display: none;
  }

  .pdf_text {
    font-size: 30px;
  }

  .start_1 {
    width: 100%;
  }

  .upload_text {
    font-size: 32px;
  }

  .upload_text_1 {
    font-size: 8px;
  }
}

/* ================== 768px ================== */
@media (max-width: 768px) {
  .home_text {
    font-size: 24px;
  }

  .home_icon {
    width: 150px;
  }

  .body_icon {
    top: 97px;
  }

  .home_text_body {
    font-size: 16px;
  }

  .home_text_body_1 {
    font-size: 13px;
  }

  .search_size {
    font-size: 18px;
  }

  .search_bottom_text {
    font-size: 16px;
    padding: 0 10px 0 6px;
  }

  .bottom2 {
    width: 18px;
    height: 18px;
  }

  .edit_b_1 {
    right: 10%;
  }

  .edit_b {
    right: 30%;
  }

  .upload_text_4 {
    font-size: 6px;
  }
}

/* ================== 610px ================== */
@media (max-width: 610px) {
  .home_text {
    font-size: 18px;
  }

  .home_icon {
    width: 122px;
  }

  .body_icon {
    top: 78px;
  }

  .upload_text {
    font-size: 22px;
  }

  .upload_text_1 {
    font-size: 6px;
  }

  .upload_text_2 {
    font-size: 5px;
  }

  .upload_text_img_3 {
    font-size: 10px;
  }

  .upload_img {
    width: 31%;
  }

  .home_text_body {
    font-size: 15px;
  }

  .home_text_body_1 {
    font-size: 10px;
  }

  .search_size {
    font-size: 15px;
  }

  .search_bottom_text {
    font-size: 14px;
  }

  .bottom2 {
    width: 18px;
    height: 18px;
  }

  .search_bottom2 {
    width: 96%;
    height: 41%;
  }

  .edit_b_1 {
    right: 10%;
  }

  .edit_b {
    right: 43%;
  }
}

/* ================== 500px ================== */
@media (max-width: 500px) {
  .start_bottum {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .edit_b_1 {
    right: 15%;
  }

  .edit_b {
    right: 50%;
  }

  .codex_e,
  .upload_text_3,
  .upload_img,
  .file_upload {
    display: none;
  }

  .upload_1 {
    height: 150px;
  }

  .start_bottum_1 {
    width: 65%;
    margin-left: 20%;
  }

  .start_text {
    font-size: 25px;
  }
}

/* ================== 390px ================== */
@media (max-width: 390px) {
  .home_text {
    font-size: 12px;
  }

  .home_icon {
    width: 80px;
  }

  .body_icon {
    top: 51px;
  }

  .home_text_body {
    font-size: 12px;
  }

  .home_text_body_1 {
    font-size: 8px;
  }

  .search_size {
    font-size: 12px;
  }

  .search_bottom_text {
    font-size: 10px;
  }

  .search_bottom1 {
    height: 23px;
  }

  .bottom2 {
    width: 13px;
    height: 13px;
  }

  .upload_text {
    font-size: 18px;
  }

  .upload_text_1,
  .upload_text_2 {
    font-size: 5px;
    text-align: center;
  }

  .pdf_text_1 {
    font-size: 10px;
  }

  .pdf_text_2 {
    font-size: 5px;
  }
}
